@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Work Sans", serif;
  font-size: 1em;
  background: white;
  height: 100%;
  color: #597B90; }

#container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  #container > * {
    flex-basis: 100%; }

#left {
  background-color: white;
  padding: 3em; }

#right {
  background: #faf9fe url(illustration.jpg) no-repeat;
  background-size: cover;
  height: 100%; }

#search {
  width: 300px;
  display: flex;
  color: #1e2530;
  border: 1px solid #045960;
  border-radius: 15px;
  overflow: hidden;
  height: 45px; }
  #search input,
  #search button {
    padding: 10px 15px; }
  #search button {
    font-size: 1em;
    background-color: #045960;
    color: white;
    border: none; }

input {
  flex: 1;
  border: none;
  min-width: 0;
  font-size: 18px; }
  input #colorInput {
    font-size: 17px; }

h1 {
  font-size: 1.5em;
  color: #696969;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px; }

h2 {
  color: #333;
  margin: 0;
  font-size: 3.5em;
  margin-bottom: 40px;
  font-weight: bold; }

h3 {
  font-size: 2.2em;
  font-weight: normal; }

#output, #error {
  display: none;
  padding-top: 20px;
  color: #045960; }

#result {
  font-size: 2.5em; }

#error {
  font-size: 1.2em; }

#colorOutput {
  font-weight: bold; }

.latex,
.latex sub {
  font-size: 1.1em;
  font-family: "Computer Modern Serif", serif;
  font-weight: bold; }

.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em; }

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em; }

.latex sub,
.latex sup {
  text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  #right {
    display: none; } }
