// Colors

$c-white-grey: #f2f2f2;
$c-lavender-blue: #6a7086;
$c-dark-grey: #8b8b8b;
$c-light-grey: #D5D5D5;
$c-mustard-yellow: #f6d55c;
$c-border: #b2b2b2;
$c-white: #f9f9fc;

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@mixin flex-center {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
}

*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", serif;
  background: $c-white-grey;
  height: 100%;
  color: $c-dark-grey;
}

// Flexbox

#container {
  @include flex-center;
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  & > * {
    flex-basis: 100%;
  }
}

#left {
  background: $c-lavender-blue url(illustration.png) no-repeat;
  background-size: cover;
  height: 100%;
  padding: 5em;
  p {
    color: $c-white;
    font-size: calc(0.8em + 0.8vmin);
  }
}

#right {
  padding: 5em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Input

#search {
  width: 300px;
  display: flex;
  color: #1e2530;
  border: 2px solid $c-border;
  border-radius: 10px;
  overflow: hidden;
  height: 45px;
}

button {
  font-size: 1.2em;
  font-weight: 500;
  color: $c-lavender-blue;
  background-color: $c-mustard-yellow;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em calc(1em + 1vmin);
  border-radius: 50px;
}

input,
button {
  padding: 15px 20px;
}

input {
  flex: 1;
  border: none;
  min-width: 0;
  font-size: 18px;
  #colorInput {
    font-size: 17px;
  }
}

// Headings

h1 {
  color: $c-white-grey;
  font-size: calc(2em + 4vmin);
  font-weight: normal;
  line-height: 1.2;
}

h2 {
  font-size: calc(2em + 3vmin);
  font-weight: 500;
  color: #535970;
}

h3 {
  font-size: calc(1em + 1.5vmin);
  font-weight: normal;
  color: $c-light-grey;
}

p {
  font-size: 1.3em;
}

// Output

// #output

#error {
  display: none;
  padding: 20px 0 20px 0;
  color: #f65c72;
  // transition: ease 0.5s;
}

#result {
  font-size: 2.5em;
}

#error {
  font-size: 1.2em; 
}

@media (max-width:760px) {
  #container {
    flex-direction: column;
    height: auto;
  }
  #left {
    #panel, button {
      display: none;
    }
  }
}

// 