@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Work Sans", serif;
  background: #f2f2f2;
  height: 100%;
  color: #8b8b8b; }

#container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  #container > * {
    flex-basis: 100%; }

#left {
  background: #6a7086 url(illustration.png) no-repeat;
  background-size: cover;
  height: 100%;
  padding: 5em; }
  #left p {
    color: #f9f9fc;
    font-size: calc(0.8em + 0.8vmin); }

#right {
  padding: 5em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

#search {
  width: 300px;
  display: flex;
  color: #1e2530;
  border: 2px solid #b2b2b2;
  border-radius: 10px;
  overflow: hidden;
  height: 45px; }

button {
  font-size: 1.2em;
  font-weight: 500;
  color: #6a7086;
  background-color: #f6d55c;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em calc(1em + 1vmin);
  border-radius: 50px; }

input,
button {
  padding: 15px 20px; }

input {
  flex: 1;
  border: none;
  min-width: 0;
  font-size: 18px; }
  input #colorInput {
    font-size: 17px; }

h1 {
  color: #f2f2f2;
  font-size: calc(2em + 4vmin);
  font-weight: normal;
  line-height: 1.2; }

h2 {
  font-size: calc(2em + 3vmin);
  font-weight: 500;
  color: #535970; }

h3 {
  font-size: calc(1em + 1.5vmin);
  font-weight: normal;
  color: #D5D5D5; }

p {
  font-size: 1.3em; }

#error {
  display: none;
  padding: 20px 0 20px 0;
  color: #f65c72; }

#result {
  font-size: 2.5em; }

#error {
  font-size: 1.2em; }

@media (max-width: 760px) {
  #container {
    flex-direction: column;
    height: auto; }
  #left #panel, #left button {
    display: none; } }
